.inline-flex {
  display: inline-flex;
}
.flex {
  display: -webkit-flex;
  display: flex;
}
.flex-vertical {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flex1 {
  -webkit-flex: 1;
  flex: 1;
}
.flex2 {
  -webkit-flex: 2;
  flex: 2;
}
.flex3 {
  -webkit-flex: 3;
  flex: 3;
}
.flex-align-center {
  -webkit-align-items: center;
  align-items: center;
}
.flex-pack-center {
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-pack-justify {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-align-bottom {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-fluid {
  flex-wrap: wrap;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.column-center-top {
  align-items: center;
}
.column-center-bottom {
  justify-content: flex-end;
  align-items: center;
}
.column-center-left {
  justify-content: center;
  align-items: flex-start;
}
.column-center-right {
  justify-content: center;
  align-items: flex-end;
}
.column-left-top {
  justify-content: flex-start;
  align-items: flex-start;
}
.column-right-top {
  justify-content: flex-start;
  align-items: flex-end;
}
.column-left-bottom {
  justify-content: flex-end;
  align-items: flex-start;
}
.column-right-bottom {
  justify-content: flex-end;
  align-items: flex-end;
}
.row-space-between {
  justify-content: space-between;
  align-items: center;
}
.row-center-top {
  justify-content: center;
  align-items: flex-start;
}
.row-center-bottom {
  justify-content: center;
  align-items: flex-end;
}
.row-center-left {
  justify-content: flex-start;
  align-items: center;
}
.row-center-right {
  justify-content: flex-end;
  align-items: center;
}
.row-left-top {
  justify-content: flex-start;
  align-items: flex-start;
}
.row-right-top {
  justify-content: flex-end;
  align-items: flex-start;
}
.row-left-bottom {
  justify-content: flex-start;
  align-items: flex-end;
}
.row-right-bottom {
  justify-content: flex-end;
  align-items: flex-end;
}
